{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <!-- Form that posts to the register route. -->
    <form method="POST" action="{{ url_for('routes.register') }}">
        <!-- input will be appended here. -->
         <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
         </div>

         <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div>
            <label for="password">Password:</label>
            <!-- type="password" hides the text (shows dots/asterisks). -->
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>

    <!-- This gives users a way to get to the login page. -->
    <p>Already have an account?<a href="{{ url_for('routes.login') }}">Login here</a></p>
{% endblock %}